laptop.dtd

<!ELEMENT laptop (manufacturer, model,memory, disk, screen, accessories+)>
<!ELEMENT  manufacturer (#PCDATA)> <!--text-->
<!ELEMENT  model (#PCDATA)>
<!ELEMENT  memory (#PCDATA)>
<!ELEMENT  disk (#PCDATA)>
<!ELEMENT  screen (#PCDATA)>
<!ELEMENT  accessories (#PCDATA)>

<!ATTLIST manufacturer
              country (Poland|Ireland) #REQUIRED
              continent CDATA #REQUIRED>
